* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f2c56b;
  --static: #165fbe;
  --hover: #fff;
}

body {
  background-color: var(--bg-color);
  font-size: 16px;
  font-family: 'Helwetica', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.slider-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

/* Slider */
.slider {
  grid-column: 1/4;
  overflow: hidden;
}

.inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
}

#slide-toggle-1:checked ~ .slider .inner {
  margin-left: 0;
}

#slide-toggle-2:checked ~ .slider .inner {
  margin-left: -100%;
}

#slide-toggle-3:checked ~ .slider .inner {
  margin-left: -200%;
}

#slide-toggle-4:checked ~ .slider .inner {
  margin-left: -300%;
}

.slide {
  display: flex;
  justify-content: center;
  float: left;
  max-height: 400px;
  width: 25%;
}

img {
  width: 100%;
  height: auto;
}

/* Descriptions */
.slides-content {
  max-width: 620px;
  overflow: hidden;
  height: 80px;
}

.slide-description {
  display: flex;
  align-items: center;
  float: left;
  width: 25%;
}

#slide-toggle-1:checked ~ .slides-content .inner {
  margin-left: 0;
}

#slide-toggle-2:checked ~ .slides-content .inner {
  margin-left: -100%;
}

#slide-toggle-3:checked ~ .slides-content .inner {
  margin-left: -200%;
}

#slide-toggle-4:checked ~ .slides-content .inner {
  margin-left: -300%;
}

/* Dots */
.checkbox {
  display: none;
}

.dots {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.dot-wrap {
  padding: 0.31rem;
  cursor: pointer;
}

.dot {
  display: block;
  width: 0.94rem;
  height: 0.94rem;
  border: 3px solid var(--static);
  border-radius: 50%;
  background-color: var(--static);
  cursor: pointer;
  transition: 0.3s;
}

.dot-wrap:hover .dot {
  background-color: var(--hover);
  border-color: var(--hover);
}

#slide-toggle-1:checked ~ .dots .dot-1 .dot,
#slide-toggle-2:checked ~ .dots .dot-2 .dot,
#slide-toggle-3:checked ~ .dots .dot-3 .dot,
#slide-toggle-4:checked ~ .dots .dot-4 .dot {
  background-color: transparent;
  border-color: var(--static);
}

#slide-toggle-1:checked ~ .dots .dot-1 .dot:hover,
#slide-toggle-2:checked ~ .dots .dot-2 .dot:hover,
#slide-toggle-3:checked ~ .dots .dot-3 .dot:hover,
#slide-toggle-4:checked ~ .dots .dot-4 .dot:hover{
  background-color: transparent;
  border-color: var(--hover);
}

@media (max-width: 800px){
   .slides-content {
      grid-row: 3/4;
   }

   .dots {
    justify-content: center;
    width: 100%;
}